@import "tailwindcss";

@theme {
  --color-primary: #a855f7;
  --color-background: #000000;
  --color-surface: #121212;
  --color-surfaceLight: #1e1e1e;
  --color-textMain: #ffffff;
  --color-textMuted: #9ca3af;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-textMain);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Custom Scrollbar for dark theme */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #121212; 
}
::-webkit-scrollbar-thumb {
  background: #3f3f46; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #52525b; 
}
